
데이터 로드 및 사전 처리/flowers.tfcache.index
데이터 로드 및 사전 처리/flowers.tfcache.data-00000-of-00001
케라스 창시자에게 배우는 딮러닝/datasets/cats_and_dogs/original/test1.zip
케라스 창시자에게 배우는 딮러닝/datasets/cats_and_dogs/original/train.zip
케라스 창시자에게 배우는 딮러닝/datasets/glove.6B.50d
케라스 창시자에게 배우는 딮러닝/datasets/glove.6B.100d
케라스 창시자에게 배우는 딮러닝/datasets/glove.6B.200d
케라스 창시자에게 배우는 딮러닝/datasets/glove.6B.300d